/*****************************************************************************
 * styles for the BibtexPlugin
 */
.bibcomment,
.bibkeywords,
.bibabstract {
  padding:1em 0em;
}

.bibtoggle {
  text-align:right;
  font-size:x-small;
  text-decoration:none;
  text-transform:none;
}

